In [1]:
#pip install pyreadr

import pandas as pd
import pyreadr



objective_code = pd.read_csv("objective codes.csv")
result = pyreadr.read_r('vignette_dat.RDS')
vignette_dat = result[None]

In [2]:
objective_code

,Vignette ID #,Final Vignette,Broad Classification,Content Classification (1-7),Specific CC Code,Focus of Involvement,Continuation,Chronic,Object Severity (0-4),Threat Dimension (1-5),Primary Appraisal Domain (1-7)
0,6,Your parents send you a regular check that con...,3,4,400,3,NaN,NaN,0,4.0,4.0
1,8,You have a daily steps goal that is tracked by...,3,5,604,1,NaN,NaN,0,1.0,5.0
2,20,Your professor tells you that they would like ...,3,2,102,1,NaN,NaN,0,2.0,2.0
3,35,"On your way to class today, there was a rally ...",3,2,101,1,0,0,1,4.0,1.0
4,50,"As you walk to class, one of your close friend...",2,6,NaN,2,0,1,1,3.0,1.0
5,58,"It's syllabus week, and one of your classes ha...",3,2,102,1,0,0,2,5.0,2.0
6,62,You've been watching a particular TV series fo...,3,3,302,1,1,0,2,1.0,1.0
7,63,"Tonight, you decide to order delivery for dinn...",3,3,306,1,0,0,2,1.0,1.0
8,88,You recently adopted a cat as a housepet but h...,3,3,305,1,1,1,3,2.0,2.0
9,91,You and your friends have been planning to go ...,3,4,400,1,0,1,3,3.0,1.0
10,94,"This morning, you tripped over a misplaced bri...",3,5,600,1,0,0,3,5.0,5.0
11,98,"Tonight, you go to a party with some friends. ...",3,6,NaN,1,0,1,3,3.0,7.0
12,104,Your friend calls you to tell you that a pipe ...,2,3,302,3,0,0,3,3.0,1.0
13,119,"You're out for the day, running some errands a...",3,4,403,1,0,0,4,5.0,2.0
14,120,"Before the next semester begins, your parents ...",3,4,400,3,0,1,4,5.0,2.0
15,126,You are having a conversation with close frien...,3,6,NaN,3,0,1,4,1.0,1.0
16,135,"Previously, you helped your partner find the j...",2,6,NaN,3,1,1,4,2.0,2.0
17,87,You've had a really tough semester because you...,3,2,102,1,0,1,3,NaN,NaN
18,110,"After being at college for a year, you start t...",1,1,10,3,0,1,4,NaN,NaN
19,21,"This semester, you've been working in a restau...",3,2,205,1,na,na,0,NaN,NaN
20,128,You are in an interview for a club position th...,3,7,906,1,0,0,4,NaN,NaN
21,79,One of your parents calls you to tell you abou...,2,3,302,3,1,1,2,NaN,NaN
22,66,You find a local babysitting gig in your area ...,3,4,400,3,0,0,2,NaN,NaN
23,33,You and a close friend arrange for an Uber to ...,3,7,904,3,0,0,1,NaN,NaN
24,114,"At your university, you've been interested in ...",3,2,100,1,0,1,4,NaN,NaN
25,39,"Every night, you plug in your cell phone befor...",3,3,306,1,1,0,1,NaN,NaN
26,14,"It's warm weather day today, so you decide to ...",3,7,901,1,NaN,NaN,0,NaN,NaN
27,106,You had helped your sibling prepare to give a ...,2,7,907,3,0,1,3,NaN,NaN
28,30,You share a kitchen with several of your close...,1,1,13,3,0,0,1,NaN,NaN
29,27,Your partner is preparing to move for the scho...,2,4,401,2,NaN,NaN,0,NaN,NaN
30,17,You and your roommate are discussing how you w...,1,1,6,3,NaN,NaN,0,NaN,NaN
31,78,Your friend has an upcoming speech that they w...,2,7,907,3,0,0,2,NaN,NaN
32,90,"This weekend, you decide to go to your parents...",3,3,302,3,0,0,3,NaN,NaN
33,125,"Several days ago, you went to do a group inter...",3,6,NaN,1,1,1,4,NaN,NaN
34,3,Your family just adopted a new dog for the hou...,3,3,305,1,NaN,NaN,0,NaN,NaN
35,83,You and your sibling have been planning on dri...,1,1,4,3,1,0,3,NaN,NaN
36,138,One of your closest friends is telling you abo...,2,6,na,2,na,na,0,NaN,NaN
37,158,You cook all of your meals inside of your kitc...,3,3,302,1,1,1,4,NaN,NaN
38,34,You're sitting in on a class that you didn't h...,3,2,102,1,1,0,2,NaN,NaN
39,154,Your partner is in a competition club in colle...,2,7,902,3,0,0,3,NaN,NaN
40,151,"Today, you were chopping some vegetables in yo...",3,5,600,1,0,0,2,NaN,NaN
41,147,"You just started seeing someone new, and you a...",1,1,16,3,0,0,2,NaN,NaN
42,141,You watch the news each morning before you go ...,3,7,902,1,0,0,1,NaN,NaN
43,143,Your sibling has an upcoming doctor's appointm...,2,5,602,3,0,0,1,NaN,NaN
44,23,You are on Facetime with your sibling. They ar...,2,2,102,2,na,NaN,0,NaN,NaN
45,42,You check your debit card statement and see th...,3,4,400,1,0,0,1,NaN,NaN
46,127,"This week, your family is recognizing the one ...",3,7,908,3,1,1,4,NaN,NaN
47,16,"You and your partner have many shared hobbies,...",1,1,20,3,NaN,NaN,0,NaN,NaN
48,48,You are checking into an appointment and must ...,3,6,NaN,1,0,1,1,NaN,NaN
49,69,"This semester, you've been having trouble slee...",3,5,602,1,1,1,2,NaN,NaN
50,52,Your close friend tells you that while they we...,2,2,102,2,0,0,1,NaN,NaN
51,137,"A week ago, you had made plans with some frien...",3,7,901,3,NaN,NaN,0,NaN,NaN
52,75,There are reports that there is a large rain s...,3,7,901,1,0,0,2,NaN,NaN
53,164,Today is your first day working at a coffee sh...,3,2,204,1,0,0,1,NaN,NaN
54,160,You and a close friend go out for coffee toget...,1,1,2,3,0,0,1,NaN,NaN
55,161,"It's nighttime, and you're driving to a friend...",3,6,NaN,1,0,1,3,NaN,NaN
56,157,Your parent calls you to tell you that they ac...,2,5,600,2,1,1,4,NaN,NaN
57,167,"Today, your parents call you to say that they ...",2,4,400,2,0,1,4,NaN,NaN
58,166,"Earlier this week, your friends decided to go ...",3,4,400,1,1,0,3,NaN,NaN
59,165,Your parent works extra shifts at a coffee sho...,2,6,na,2,0,1,2,NaN,NaN

In [3]:
objective_code = objective_code.rename({'Vignette ID #': 'vid'}, axis=1)

In [4]:
objective_code

,vid,Final Vignette,Broad Classification,Content Classification (1-7),Specific CC Code,Focus of Involvement,Continuation,Chronic,Object Severity (0-4),Threat Dimension (1-5),Primary Appraisal Domain (1-7)
0,6,Your parents send you a regular check that con...,3,4,400,3,NaN,NaN,0,4.0,4.0
1,8,You have a daily steps goal that is tracked by...,3,5,604,1,NaN,NaN,0,1.0,5.0
2,20,Your professor tells you that they would like ...,3,2,102,1,NaN,NaN,0,2.0,2.0
3,35,"On your way to class today, there was a rally ...",3,2,101,1,0,0,1,4.0,1.0
4,50,"As you walk to class, one of your close friend...",2,6,NaN,2,0,1,1,3.0,1.0
5,58,"It's syllabus week, and one of your classes ha...",3,2,102,1,0,0,2,5.0,2.0
6,62,You've been watching a particular TV series fo...,3,3,302,1,1,0,2,1.0,1.0
7,63,"Tonight, you decide to order delivery for dinn...",3,3,306,1,0,0,2,1.0,1.0
8,88,You recently adopted a cat as a housepet but h...,3,3,305,1,1,1,3,2.0,2.0
9,91,You and your friends have been planning to go ...,3,4,400,1,0,1,3,3.0,1.0
10,94,"This morning, you tripped over a misplaced bri...",3,5,600,1,0,0,3,5.0,5.0
11,98,"Tonight, you go to a party with some friends. ...",3,6,NaN,1,0,1,3,3.0,7.0
12,104,Your friend calls you to tell you that a pipe ...,2,3,302,3,0,0,3,3.0,1.0
13,119,"You're out for the day, running some errands a...",3,4,403,1,0,0,4,5.0,2.0
14,120,"Before the next semester begins, your parents ...",3,4,400,3,0,1,4,5.0,2.0
15,126,You are having a conversation with close frien...,3,6,NaN,3,0,1,4,1.0,1.0
16,135,"Previously, you helped your partner find the j...",2,6,NaN,3,1,1,4,2.0,2.0
17,87,You've had a really tough semester because you...,3,2,102,1,0,1,3,NaN,NaN
18,110,"After being at college for a year, you start t...",1,1,10,3,0,1,4,NaN,NaN
19,21,"This semester, you've been working in a restau...",3,2,205,1,na,na,0,NaN,NaN
20,128,You are in an interview for a club position th...,3,7,906,1,0,0,4,NaN,NaN
21,79,One of your parents calls you to tell you abou...,2,3,302,3,1,1,2,NaN,NaN
22,66,You find a local babysitting gig in your area ...,3,4,400,3,0,0,2,NaN,NaN
23,33,You and a close friend arrange for an Uber to ...,3,7,904,3,0,0,1,NaN,NaN
24,114,"At your university, you've been interested in ...",3,2,100,1,0,1,4,NaN,NaN
25,39,"Every night, you plug in your cell phone befor...",3,3,306,1,1,0,1,NaN,NaN
26,14,"It's warm weather day today, so you decide to ...",3,7,901,1,NaN,NaN,0,NaN,NaN
27,106,You had helped your sibling prepare to give a ...,2,7,907,3,0,1,3,NaN,NaN
28,30,You share a kitchen with several of your close...,1,1,13,3,0,0,1,NaN,NaN
29,27,Your partner is preparing to move for the scho...,2,4,401,2,NaN,NaN,0,NaN,NaN
30,17,You and your roommate are discussing how you w...,1,1,6,3,NaN,NaN,0,NaN,NaN
31,78,Your friend has an upcoming speech that they w...,2,7,907,3,0,0,2,NaN,NaN
32,90,"This weekend, you decide to go to your parents...",3,3,302,3,0,0,3,NaN,NaN
33,125,"Several days ago, you went to do a group inter...",3,6,NaN,1,1,1,4,NaN,NaN
34,3,Your family just adopted a new dog for the hou...,3,3,305,1,NaN,NaN,0,NaN,NaN
35,83,You and your sibling have been planning on dri...,1,1,4,3,1,0,3,NaN,NaN
36,138,One of your closest friends is telling you abo...,2,6,na,2,na,na,0,NaN,NaN
37,158,You cook all of your meals inside of your kitc...,3,3,302,1,1,1,4,NaN,NaN
38,34,You're sitting in on a class that you didn't h...,3,2,102,1,1,0,2,NaN,NaN
39,154,Your partner is in a competition club in colle...,2,7,902,3,0,0,3,NaN,NaN
40,151,"Today, you were chopping some vegetables in yo...",3,5,600,1,0,0,2,NaN,NaN
41,147,"You just started seeing someone new, and you a...",1,1,16,3,0,0,2,NaN,NaN
42,141,You watch the news each morning before you go ...,3,7,902,1,0,0,1,NaN,NaN
43,143,Your sibling has an upcoming doctor's appointm...,2,5,602,3,0,0,1,NaN,NaN
44,23,You are on Facetime with your sibling. They ar...,2,2,102,2,na,NaN,0,NaN,NaN
45,42,You check your debit card statement and see th...,3,4,400,1,0,0,1,NaN,NaN
46,127,"This week, your family is recognizing the one ...",3,7,908,3,1,1,4,NaN,NaN
47,16,"You and your partner have many shared hobbies,...",1,1,20,3,NaN,NaN,0,NaN,NaN
48,48,You are checking into an appointment and must ...,3,6,NaN,1,0,1,1,NaN,NaN
49,69,"This semester, you've been having trouble slee...",3,5,602,1,1,1,2,NaN,NaN
50,52,Your close friend tells you that while they we...,2,2,102,2,0,0,1,NaN,NaN
51,137,"A week ago, you had made plans with some frien...",3,7,901,3,NaN,NaN,0,NaN,NaN
52,75,There are reports that there is a large rain s...,3,7,901,1,0,0,2,NaN,NaN
53,164,Today is your first day working at a coffee sh...,3,2,204,1,0,0,1,NaN,NaN
54,160,You and a close friend go out for coffee toget...,1,1,2,3,0,0,1,NaN,NaN
55,161,"It's nighttime, and you're driving to a friend...",3,6,NaN,1,0,1,3,NaN,NaN
56,157,Your parent calls you to tell you that they ac...,2,5,600,2,1,1,4,NaN,NaN
57,167,"Today, your parents call you to say that they ...",2,4,400,2,0,1,4,NaN,NaN
58,166,"Earlier this week, your friends decided to go ...",3,4,400,1,1,0,3,NaN,NaN
59,165,Your parent works extra shifts at a coffee sho...,2,6,na,2,0,1,2,NaN,NaN

In [5]:
vignette_dat

          ID Session       vignette score
0       36.0       1  V165_stressed     4
1       56.0       1  V165_stressed     3
2       72.0       1  V165_stressed     3
3      101.0       1  V165_stressed     4
4       70.0       1  V165_stressed     4
...      ...     ...            ...   ...
64219   95.0       2      Condition    10
64220  171.0       2      Condition    10
64221  172.0       2      Condition    10
64222  194.0       1      Condition    10
64223  197.0       1      Condition    10

[64224 rows x 4 columns]

In [6]:
#print(vignette_dat.loc[df['vignette'] == 'Condition'])

In [7]:
vignette_dat["vid"] = vignette_dat.vignette.str.extract('(\d+)')

In [8]:
#vignette_dat["ID"] = vignette_dat["ID"].astype(int)

#objective_code["Vignette ID #"] = objective_code["Vignette ID #"].astype(int)

In [9]:
objective_code

,vid,Final Vignette,Broad Classification,Content Classification (1-7),Specific CC Code,Focus of Involvement,Continuation,Chronic,Object Severity (0-4),Threat Dimension (1-5),Primary Appraisal Domain (1-7)
0,6,Your parents send you a regular check that con...,3,4,400,3,NaN,NaN,0,4.0,4.0
1,8,You have a daily steps goal that is tracked by...,3,5,604,1,NaN,NaN,0,1.0,5.0
2,20,Your professor tells you that they would like ...,3,2,102,1,NaN,NaN,0,2.0,2.0
3,35,"On your way to class today, there was a rally ...",3,2,101,1,0,0,1,4.0,1.0
4,50,"As you walk to class, one of your close friend...",2,6,NaN,2,0,1,1,3.0,1.0
5,58,"It's syllabus week, and one of your classes ha...",3,2,102,1,0,0,2,5.0,2.0
6,62,You've been watching a particular TV series fo...,3,3,302,1,1,0,2,1.0,1.0
7,63,"Tonight, you decide to order delivery for dinn...",3,3,306,1,0,0,2,1.0,1.0
8,88,You recently adopted a cat as a housepet but h...,3,3,305,1,1,1,3,2.0,2.0
9,91,You and your friends have been planning to go ...,3,4,400,1,0,1,3,3.0,1.0
10,94,"This morning, you tripped over a misplaced bri...",3,5,600,1,0,0,3,5.0,5.0
11,98,"Tonight, you go to a party with some friends. ...",3,6,NaN,1,0,1,3,3.0,7.0
12,104,Your friend calls you to tell you that a pipe ...,2,3,302,3,0,0,3,3.0,1.0
13,119,"You're out for the day, running some errands a...",3,4,403,1,0,0,4,5.0,2.0
14,120,"Before the next semester begins, your parents ...",3,4,400,3,0,1,4,5.0,2.0
15,126,You are having a conversation with close frien...,3,6,NaN,3,0,1,4,1.0,1.0
16,135,"Previously, you helped your partner find the j...",2,6,NaN,3,1,1,4,2.0,2.0
17,87,You've had a really tough semester because you...,3,2,102,1,0,1,3,NaN,NaN
18,110,"After being at college for a year, you start t...",1,1,10,3,0,1,4,NaN,NaN
19,21,"This semester, you've been working in a restau...",3,2,205,1,na,na,0,NaN,NaN
20,128,You are in an interview for a club position th...,3,7,906,1,0,0,4,NaN,NaN
21,79,One of your parents calls you to tell you abou...,2,3,302,3,1,1,2,NaN,NaN
22,66,You find a local babysitting gig in your area ...,3,4,400,3,0,0,2,NaN,NaN
23,33,You and a close friend arrange for an Uber to ...,3,7,904,3,0,0,1,NaN,NaN
24,114,"At your university, you've been interested in ...",3,2,100,1,0,1,4,NaN,NaN
25,39,"Every night, you plug in your cell phone befor...",3,3,306,1,1,0,1,NaN,NaN
26,14,"It's warm weather day today, so you decide to ...",3,7,901,1,NaN,NaN,0,NaN,NaN
27,106,You had helped your sibling prepare to give a ...,2,7,907,3,0,1,3,NaN,NaN
28,30,You share a kitchen with several of your close...,1,1,13,3,0,0,1,NaN,NaN
29,27,Your partner is preparing to move for the scho...,2,4,401,2,NaN,NaN,0,NaN,NaN
30,17,You and your roommate are discussing how you w...,1,1,6,3,NaN,NaN,0,NaN,NaN
31,78,Your friend has an upcoming speech that they w...,2,7,907,3,0,0,2,NaN,NaN
32,90,"This weekend, you decide to go to your parents...",3,3,302,3,0,0,3,NaN,NaN
33,125,"Several days ago, you went to do a group inter...",3,6,NaN,1,1,1,4,NaN,NaN
34,3,Your family just adopted a new dog for the hou...,3,3,305,1,NaN,NaN,0,NaN,NaN
35,83,You and your sibling have been planning on dri...,1,1,4,3,1,0,3,NaN,NaN
36,138,One of your closest friends is telling you abo...,2,6,na,2,na,na,0,NaN,NaN
37,158,You cook all of your meals inside of your kitc...,3,3,302,1,1,1,4,NaN,NaN
38,34,You're sitting in on a class that you didn't h...,3,2,102,1,1,0,2,NaN,NaN
39,154,Your partner is in a competition club in colle...,2,7,902,3,0,0,3,NaN,NaN
40,151,"Today, you were chopping some vegetables in yo...",3,5,600,1,0,0,2,NaN,NaN
41,147,"You just started seeing someone new, and you a...",1,1,16,3,0,0,2,NaN,NaN
42,141,You watch the news each morning before you go ...,3,7,902,1,0,0,1,NaN,NaN
43,143,Your sibling has an upcoming doctor's appointm...,2,5,602,3,0,0,1,NaN,NaN
44,23,You are on Facetime with your sibling. They ar...,2,2,102,2,na,NaN,0,NaN,NaN
45,42,You check your debit card statement and see th...,3,4,400,1,0,0,1,NaN,NaN
46,127,"This week, your family is recognizing the one ...",3,7,908,3,1,1,4,NaN,NaN
47,16,"You and your partner have many shared hobbies,...",1,1,20,3,NaN,NaN,0,NaN,NaN
48,48,You are checking into an appointment and must ...,3,6,NaN,1,0,1,1,NaN,NaN
49,69,"This semester, you've been having trouble slee...",3,5,602,1,1,1,2,NaN,NaN
50,52,Your close friend tells you that while they we...,2,2,102,2,0,0,1,NaN,NaN
51,137,"A week ago, you had made plans with some frien...",3,7,901,3,NaN,NaN,0,NaN,NaN
52,75,There are reports that there is a large rain s...,3,7,901,1,0,0,2,NaN,NaN
53,164,Today is your first day working at a coffee sh...,3,2,204,1,0,0,1,NaN,NaN
54,160,You and a close friend go out for coffee toget...,1,1,2,3,0,0,1,NaN,NaN
55,161,"It's nighttime, and you're driving to a friend...",3,6,NaN,1,0,1,3,NaN,NaN
56,157,Your parent calls you to tell you that they ac...,2,5,600,2,1,1,4,NaN,NaN
57,167,"Today, your parents call you to say that they ...",2,4,400,2,0,1,4,NaN,NaN
58,166,"Earlier this week, your friends decided to go ...",3,4,400,1,1,0,3,NaN,NaN
59,165,Your parent works extra shifts at a coffee sho...,2,6,na,2,0,1,2,NaN,NaN

In [10]:
vignette_dat

          ID Session       vignette score  vid
0       36.0       1  V165_stressed     4  165
1       56.0       1  V165_stressed     3  165
2       72.0       1  V165_stressed     3  165
3      101.0       1  V165_stressed     4  165
4       70.0       1  V165_stressed     4  165
...      ...     ...            ...   ...  ...
64219   95.0       2      Condition    10  NaN
64220  171.0       2      Condition    10  NaN
64221  172.0       2      Condition    10  NaN
64222  194.0       1      Condition    10  NaN
64223  197.0       1      Condition    10  NaN

[64224 rows x 5 columns]

In [11]:
vignette_dat = vignette_dat.dropna()

In [12]:
vignette_dat["vid"] = vignette_dat["vid"].astype(int)
print(vignette_dat.isnull())

          ID  Session  vignette  score    vid
0      False    False     False  False  False
1      False    False     False  False  False
2      False    False     False  False  False
3      False    False     False  False  False
4      False    False     False  False  False
...      ...      ...       ...    ...    ...
63931  False    False     False  False  False
63932  False    False     False  False  False
63933  False    False     False  False  False
63934  False    False     False  False  False
63935  False    False     False  False  False

[63936 rows x 5 columns]

<ipython-input-12-5effdf532b40>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vignette_dat["vid"] = vignette_dat["vid"].astype(int)

In [13]:
# merged_inner = pd.merge(left=vignette_dat, right=objective_code, how='left',left_on='vid', right_on='Vignette ID #')

In [14]:
new_df = vignette_dat.merge(objective_code, how='left', on='vid')

In [15]:
new_df

,ID,Session,vignette,score,vid,Final Vignette,Broad Classification,Content Classification (1-7),Specific CC Code,Focus of Involvement,Continuation,Chronic,Object Severity (0-4),Threat Dimension (1-5),Primary Appraisal Domain (1-7)
0,36.0,1,V165_stressed,4,165,Your parent works extra shifts at a coffee sho...,2,6,na,2,0,1,2,NaN,NaN
1,56.0,1,V165_stressed,3,165,Your parent works extra shifts at a coffee sho...,2,6,na,2,0,1,2,NaN,NaN
2,72.0,1,V165_stressed,3,165,Your parent works extra shifts at a coffee sho...,2,6,na,2,0,1,2,NaN,NaN
3,101.0,1,V165_stressed,4,165,Your parent works extra shifts at a coffee sho...,2,6,na,2,0,1,2,NaN,NaN
4,70.0,1,V165_stressed,4,165,Your parent works extra shifts at a coffee sho...,2,6,na,2,0,1,2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63931,95.0,2,V91_experience_2,1,91,You and your friends have been planning to go ...,3,4,400,1,0,1,3,3.0,1.0
63932,171.0,2,V91_experience_2,1,91,You and your friends have been planning to go ...,3,4,400,1,0,1,3,3.0,1.0
63933,172.0,2,V91_experience_2,1,91,You and your friends have been planning to go ...,3,4,400,1,0,1,3,3.0,1.0
63934,194.0,1,V91_experience_2,1,91,You and your friends have been planning to go ...,3,4,400,1,0,1,3,3.0,1.0
63935,197.0,1,V91_experience_2,1,91,You and your friends have been planning to go ...,3,4,400,1,0,1,3,3.0,1.0

In [16]:
new_df=new_df[new_df.score!='']

In [17]:
new_df.score.unique()

array(['4', '3', '2', '1', '0'], dtype=object)

In [18]:
new_df.groupby(['Session','Content Classification (1-7)','score']).size()

Session  Content Classification (1-7)  score
1        1                             0        1620
                                       1        2007
                                       2         357
                                       3         293
                                       4         119
                                                ...
2        7                             0        1471
                                       1        2339
                                       2         398
                                       3         259
                                       4         177
Length: 70, dtype: int64

In [19]:
new_df2= pd.DataFrame({'count' : new_df.groupby(['Session','Content Classification (1-7)','score']).size()}).reset_index()
new_df2

   Session  Content Classification (1-7) score  count
0        1                             1     0   1620
1        1                             1     1   2007
2        1                             1     2    357
3        1                             1     3    293
4        1                             1     4    119
..     ...                           ...   ...    ...
65       2                             7     0   1471
66       2                             7     1   2339
67       2                             7     2    398
68       2                             7     3    259
69       2                             7     4    177

[70 rows x 4 columns]

In [20]:
new_df2['Content Classification (1-7)'] = new_df2['Content Classification (1-7)'].replace([1,2,3,4,5,6,7],['Interpersonal Tension','Work/Education','Home','Finances','Health/Accident','Discrimination','Misc'])

In [21]:
df = new_df2.pivot_table(values='count', index=['Session','Content Classification (1-7)'], columns='score', aggfunc='first')
df

score                                    0     1    2    3    4
Session Content Classification (1-7)
1       Discrimination                2048  1913  538  624  529
        Finances                      1556  2015  414  475  564
        Health/Accident               1028  1120  300  215  159
        Home                          1580  2579  488  442  245
        Interpersonal Tension         1620  2007  357  293  119
        Misc                          1849  2664  453  370  316
        Work/Education                1842  2946  417  399  362
2       Discrimination                1736  1610  512  488  298
        Finances                      1317  1738  362  394  317
        Health/Accident                798   982  265  170  107
        Home                          1226  2275  450  327  108
        Interpersonal Tension         1359  1675  301  212   65
        Misc                          1471  2339  398  259  177
        Work/Education                1559  2446  394  295  208

In [22]:
df.to_csv('./DataTransformation.csv', sep=',', header=True, index=True)

In [23]:
df['sum']=[df.iloc[i,:].sum() for i in range(len(df))]

In [24]:
for i in df.columns:
    df[i]=df[i]/df['sum']

In [25]:
df

score                                        0         1         2         3  \
Session Content Classification (1-7)
1       Discrimination                0.362350  0.338464  0.095188  0.110403
        Finances                      0.309713  0.401075  0.082404  0.094546
        Health/Accident               0.364281  0.396882  0.106308  0.076187
        Home                          0.296213  0.483502  0.091489  0.082865
        Interpersonal Tension         0.368517  0.456551  0.081210  0.066652
        Misc                          0.327141  0.471338  0.080149  0.065464
        Work/Education                0.308750  0.493798  0.069896  0.066879
2       Discrimination                0.373816  0.346684  0.110250  0.105082
        Finances                      0.319041  0.421027  0.087694  0.095446
        Health/Accident               0.343669  0.422911  0.114126  0.073213
        Home                          0.279526  0.518696  0.102599  0.074555
        Interpersonal Tension         0.376246  0.463732  0.083333  0.058693
        Misc                          0.316753  0.503661  0.085702  0.055771
        Work/Education                0.318033  0.498980  0.080375  0.060180

score                                        4  sum
Session Content Classification (1-7)
1       Discrimination                0.093595  1.0
        Finances                      0.112261  1.0
        Health/Accident               0.056343  1.0
        Home                          0.045932  1.0
        Interpersonal Tension         0.027070  1.0
        Misc                          0.055909  1.0
        Work/Education                0.060677  1.0
2       Discrimination                0.064169  1.0
        Finances                      0.076793  1.0
        Health/Accident               0.046081  1.0
        Home                          0.024624  1.0
        Interpersonal Tension         0.017996  1.0
        Misc                          0.038114  1.0
        Work/Education                0.042432  1.0

In [26]:
df=df.round(3)
df

score                                     0      1      2      3      4  sum
Session Content Classification (1-7)
1       Discrimination                0.362  0.338  0.095  0.110  0.094  1.0
        Finances                      0.310  0.401  0.082  0.095  0.112  1.0
        Health/Accident               0.364  0.397  0.106  0.076  0.056  1.0
        Home                          0.296  0.484  0.091  0.083  0.046  1.0
        Interpersonal Tension         0.369  0.457  0.081  0.067  0.027  1.0
        Misc                          0.327  0.471  0.080  0.065  0.056  1.0
        Work/Education                0.309  0.494  0.070  0.067  0.061  1.0
2       Discrimination                0.374  0.347  0.110  0.105  0.064  1.0
        Finances                      0.319  0.421  0.088  0.095  0.077  1.0
        Health/Accident               0.344  0.423  0.114  0.073  0.046  1.0
        Home                          0.280  0.519  0.103  0.075  0.025  1.0
        Interpersonal Tension         0.376  0.464  0.083  0.059  0.018  1.0
        Misc                          0.317  0.504  0.086  0.056  0.038  1.0
        Work/Education                0.318  0.499  0.080  0.060  0.042  1.0

1.0

In [42]:
df['4']=[(df['sum'][i]-df['0'][i]-df['1'][i]-df['2'][i]-df['3'][i]) for i in range(len(df))]

In [43]:
df = df.round(3)

In [44]:
df1=df.drop(columns=['sum'])
df1

score                                     0      1      2      3      4
Session Content Classification (1-7)
1       Discrimination                0.362  0.338  0.095  0.110  0.095
        Finances                      0.310  0.401  0.082  0.095  0.112
        Health/Accident               0.364  0.397  0.106  0.076  0.057
        Home                          0.296  0.484  0.091  0.083  0.046
        Interpersonal Tension         0.369  0.457  0.081  0.067  0.026
        Misc                          0.327  0.471  0.080  0.065  0.057
        Work/Education                0.309  0.494  0.070  0.067  0.060
2       Discrimination                0.374  0.347  0.110  0.105  0.064
        Finances                      0.319  0.421  0.088  0.095  0.077
        Health/Accident               0.344  0.423  0.114  0.073  0.046
        Home                          0.280  0.519  0.103  0.075  0.023
        Interpersonal Tension         0.376  0.464  0.083  0.059  0.018
        Misc                          0.317  0.504  0.086  0.056  0.037
        Work/Education                0.318  0.499  0.080  0.060  0.043

In [47]:
df1.to_csv('./DataTransformationFrequency.csv', sep=',', header=True, index=True)